venv/
venv-win/

target/
cargo.lock

node_modules/
dist/
.parcel-cache/

package-lock.json

__pycache__/
.pytest_cache/

emerging_communication.egg-info/

results/

environment.cp310-win_amd64.pyd

*.so
*.pyd

.vscode/

*.csv